<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Copyright (c) 2018.
  ~
  ~     This file is part of Nuts: corda-playground.
  ~
  ~     corda-playground is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     corda-playground is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with corda-playground.  If not, see <https://www.gnu.org/licenses/>.
  -->

<Configuration status="info">

    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="log-name">node-${hostName}</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>

    <ThresholdFilter level="trace"/>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %highlight{%level{length=1} %d{HH:mm:ss} %T %c{1}.%M - %msg%n}{INFO=white,WARN=red,FATAL=bright red blink}
                </pattern>>
            </PatternLayout>
        </Console>

        <!-- Will generate up to 10 log files for a given day. During every rollover it will delete
             those that are older than 60 days, but keep the most recent 10 GB -->
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/${log-name}.log"
                     filePattern="${archive}/${log-name}.%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="[%-5level] %d{ISO8601}{GMT+0} [%t] %c{1} - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

            <DefaultRolloverStrategy min="1" max="10">
                <Delete basePath="${archive}" maxDepth="1">
                    <IfFileName glob="${log-name}*.log.gz"/>
                    <IfLastModified age="60d">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="10 GB"/>
                        </IfAny>
                    </IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="RollingFile-Appender"/>
        </Root>
        <Logger name="net.corda" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="RollingFile-Appender"/>
        </Logger>
    </Loggers>

</Configuration>
